/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #202020;
  color: white;
}
main {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  flex-direction: column;
}

.input-container {
  display: flex;
  justify-content: space-between;
  width: 100vmin;
  height: 50px;
  padding: 10px;
  margin: 5px;
}

.input-container input {
  width: 80vmin;
  border-radius: 10px;
  height: 30px;
}

.button-container {
  display: flex;
  justify-content: center;
}
.button-container button {
  border-radius: 10px;
  width: 50px;
  height: 30px;
}
.button-container button:hover{
  background-color: #404040;
}

.Options{
  display: flex;
  justify-content: space-around;
  width: 100vmin;
  height: 50px;
  margin: 5px;
  align-items: center;
}

.Options button {
  justify-content: center;
  width: 50px;
  height: 25px;
  border-radius: 10px;
}

.Options button:hover {
  background-color: #404040;
}

