/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --fondo: #161825;
  --background-color: #58626c;
  --text-color: white;
  --border-color: #2c313d;
  --hover-color: #2c313d;
}

body {
  background-color: var(--fondo);
  color: var(--text-color);

}
main {
  display: flex;
  width: 90vw;
  height: 100vh;
  align-items: center;
  flex-direction: column;
}

.body{
  display: flex;
  justify-content: center;
  width: auto;
  
  max-width: 100vh;

  overflow-x: hidden; 
  box-sizing: border-box;


  margin: 5px;
  
  border: solid 2px var(--border-color);
  border-radius: 5px;
  background-color: var(--background-color);
}

.input-container {
  display: flex;
  width: 100vmin;
  height: 50px;
  justify-content: space-between;
  padding: 10px;
  margin: 5px;
  margin-top: 15px;

  border: solid 2px var(--border-color);
  border-radius: 5px;
  background-color: var(--background-color);
}

.input-container input {
  width: 80vmin;
  border-radius: 5px;
  height: 30px;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
}
.button-container button {
  border-radius: 5px;
  width: 50px;
  height: 30px;
}
.button-container button:hover{
  background-color: var(--hover-color);
  color: var(--text-color);
}

.Options{
  display: flex;
  justify-content: space-around;
  width: 100vmin;
  height: 50px;
  min-height: 50px;
  margin: 5px;
  align-items: center;

  border: solid 2px var(--border-color);
  border-radius: 5px;
  background-color: var(--background-color);
}

.Options button {
  justify-content: center;
  width: 55px;
  height: 25px;
  border-radius: 5px;
}

.Options button:hover {
  background-color: var(--background-color);
  color: var(--text-color);

}

/* Estilo para el botón activo */
.Options button.active {
  background-color: var(--hover-color);
  color: var(--text-color);
}

.Frames {
  max-width: 12vh;
  input{
    max-width: 12vh;
  }
}

.Pages{
  max-width: 70vh;
  input{
    max-width: 70vh;
  }
}

main p{
  margin-top: 20px;
  color: red;
}