:root {
  --fondo: #161825;
  --background-color: #58626c;
  --text-color: white;
  --border-color: #2c313d;
  --hover-color: #2c313d;
  --filas-pares: #4d6379;
  --filas-impares: #4d6379;
}

.main {
  display: flex;
  width: 100vh;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.result {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 30vmin;
  max-width: 90vmin;
  padding: 0px 0px 20px;
  /* padding: 10px; */
  /* margin: 5px; */
  align-items: center;
}


.input-Frame {
  display: flex;
  justify-content: first baseline;
  align-items: center;
  width: 90vmin;
  height: 50px;
  padding: 10px;
  margin: 5px;
}
.button-Frame {
  padding-left: 20px;
}

.input-Frame input {
  width: 20vmin;
  border-radius: 10px;
  height: 30px;
  text-align: center;
}

.button-Frame {
  display: flex;
  justify-content: center;
}
.button-Frame button {
  border-radius: 10px;
  width: 50px;
  height: 30px;
}
.button-Frame button:hover {
  background-color: var(--hover-color);
  color: var(--text-color);
}

/* Estilos para la tabla */
table {
  width: 90%;
  border-collapse: collapse; /* Asegura que los bordes de las celdas se colapsen en un solo borde */
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ffffff; /* Define el borde de las celdas */
  padding: 8px; /* Añade espacio dentro de las celdas */
  text-align: center; /* Centra el texto dentro de las celdas */
}

th {
  background-color: var(--fondo); /* Color de fondo para los encabezados */
  font-weight: bold; /* Negrita para los encabezados */
}

tr:nth-child(even) {
  background-color: var(
    --filas-pares
  ); /* Color de fondo para las filas pares */
}

tr:nth-child(odd) {
  background-color: var(
    --filas-impares
  ); /* Color de fondo para las filas impares */
}

.Tables {
  margin-top: 5px;
  min-width: 50vmin;
  /* width: 50vmin; */
  max-width: 85vmin;
  min-height: 30vmin;
  max-height: 50vmin;
  overflow-x: auto; /* Añade scroll horizontal solo si es necesario */
}

.tables {
  margin-top: 5px;
  min-width: 50vmin;
  /* width: 50vmin; */
  max-width: 85vmin;
  overflow-x: auto; /* Añade scroll horizontal solo si es necesario */
}

